@font-face {
  font-family: Impact;
  src: url("../src/fonts/impact/impact.ttf");
}

.App {
  text-align: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: "Karla", sans-serif;
}

.logo-container {
  display: flex;
  align-items: center;
}

.App-logo {
  width: 31.31px;
  height: 26.22px;
  margin-right: 7px;
}

.App-header {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 65px;
  padding: 0 20px;
}
.App-header h1 {
  font-weight: 700;
  font-size: 20.7482px;
  line-height: 24px;
  letter-spacing: -0.1em;
  color: #ffffff;
}
.App-header p {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  color: #ffffff;
  margin-right: 37px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  max-width: 477px;
}
form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 36px 0;
  gap: 15px;
}
.input-top,
.input-bottom {
  box-sizing: border-box;
  width: 230px;
  height: 35px;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  padding: 10px 11px;
}
.input-top::placeholder,
.input-bottom::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #0d0d0d;
}
.textFields {
  display: flex;
  gap: 17px;
}
#submit-btn {
  max-width: 100%;
  height: 40px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border: none;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: -0.1em;
  color: #ffffff;
}

.meme-container {
  max-width: 100%;
  max-height: 268px;
  position: relative;
}
.text-container {
  text-align: center;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  text-align: center;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text-container h2 {
  margin: 16px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
  text-transform: uppercase;
  text-shadow: 0 0 15px #000000;
}
